
@import "bootstrap/dist/css/bootstrap.min.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}


.page-header {
    color: #fff;
    text-align: center;
    background: #5c52b8;  /* fallback for old browsers */
}

.text-heading {
  color:#5c52b8 !important;
}

.cursor:hover{
cursor: pointer;
}